%% -*- mode:erlang;tab-width:4;erlang-indent-level:4;indent-tabs-mode:nil -*-
{port_specs, [{"priv/id3as_codecs", ["c_src/*.c"]}]}.

{port_env, [
            %% Common stuff
            {"ID3AS_LIBS", "-lid3as_common"},
            {"ID3AS_LIB_DIRS", "-L../id3as_common_c/priv -Ldeps/id3as_common_c/priv"},
            {"ID3AS_INC", "-I../id3as_common_c/c_src -Ideps/id3as_common_c/c_src"},

            {"linux", "CC", "c99"},
            {"linux", "CFLAGS", "$CFLAGS $ID3AS_INC"},
            {"linux", "EXE_LDFLAGS", "$ERL_LDFLAGS $ID3AS_LIB_DIRS -Wl,-Bstatic $FFMPEG_STATIC_LIBS -Wl,-Bdynamic -lz $FFMPEG_DYN_LIBS $ID3AS_LIBS -lm -lpthread"},
            
            {"win32", "CC", "cc"},
            {"win32", "DRV_CXX_TEMPLATE", "$CXX -c $CXXFLAGS $DRV_CFLAGS $PORT_IN_FILES -o $PORT_OUT_FILE"},
            {"win32", "DRV_CC_TEMPLATE", "$CC -c $CFLAGS $DRV_CFLAGS $PORT_IN_FILES -o $PORT_OUT_FILE"},
            {"win32", "DRV_LINK_TEMPLATE", "$CC $PORT_IN_FILES $LDFLAGS $DRV_LDFLAGS -o $PORT_OUT_FILE"},
            {"win32", "EXE_CXX_TEMPLATE", "$CXX -c $CXXFLAGS $EXE_CFLAGS $PORT_IN_FILES -o $PORT_OUT_FILE"},
            {"win32", "EXE_CC_TEMPLATE", "$CC -c $CFLAGS $EXE_CFLAGS $PORT_IN_FILES -o $PORT_OUT_FILE"},
            {"win32", "EXE_LINK_TEMPLATE", "$CC $PORT_IN_FILES $LDFLAGS $EXE_LDFLAGS -o $PORT_OUT_FILE"},
            {"win32", "DRV_CFLAGS" , "-g -Wall -fPIC $ERL_CFLAGS"},
            {"win32", "DRV_LDFLAGS", "-shared $ERL_LDFLAGS"},
            {"win32", "EXE_CFLAGS" , "-g -Wall -fPIC $ERL_CFLAGS"},
            {"win32", "EXE_LDFLAGS", "$ERL_LDFLAGS"},
            {"win32", "ERL_LDFLAGS", " -L$ERL_EI_LIBDIR -lerl_interface -lei"},

            {"win32", "CFLAGS", "$CFLAGS -I../id3as_common/c_src -Ideps/id3as_common/c_src -Ic:/MinGW/msys/1.0/local/include"},
            {"win32", "EXE_LDFLAGS", "$ERL_LDFLAGS -Lc:/MinGW/msys/1.0/local/lib -L../id3as_common/priv -lavformat -lavcodec -lavutil -lavresample -lmp3lame -Wl,-Bdynamic -lid3as_common -lpthread"},
            
            {"apple", "CFLAGS", "$CFLAGS $ID3AS_INC -I/usr/local/include"},
            {"apple", "EXE_LDFLAGS", "$ERL_LDFLAGS $ID3AS_LIB_DIRS -L/usr/local/lib $FFMPEG_STATIC_LIBS $FFMPEG_DYN_LIBS -lz $ID3AS_LIBS -lm -lpthread -framework CoreFoundation -framework VideoDecodeAcceleration -framework CoreVideo"}]}.

